---
layout: layout.liquid
title: Web Resources
description: Here you will find links to various web resources.
type: landing
---
<div class="links">
    {% for link in links.Home %}
    <div class="container">
        <div class="link"><a class="button1" href="{{link.Url}}">{{ link.Title }}</a></div>
        <div class="description">{{link.Description}}</div>
    </div>
    {% endfor %}
</div>